.section-banner {
    background: url(../images/hero-bg.jpg) no-repeat center bottom;
    background-size: cover;
    min-height: 40rem;
    aside {
        width: 50%;
        margin: 0 auto;
    }
}