.section-banner {
    background: url(../images/hero-bg.jpg) no-repeat center bottom;
    background-size: cover;
    min-height: 37rem;    
    @media #{$breakpoint-sm} {
        min-height: 31rem;
    }
    @media #{$breakpoint-md} {
        background: url(../images/hero-bg.jpg) no-repeat center top;
        background-size: cover;
        min-height: 40rem;    
    } 
    @media #{$breakpoint-xl} {
        background: url(../images/hero-bg.jpg) no-repeat center bottom;
        background-size: cover;
    }
    @media #{$breakpoint-xxl} {
        min-height: 48rem;    
    }
    aside {   
        position: absolute;
        top: 75%;  
        left: 0;
        right: 0;
        transform: translateY(-70%);
        padding: 0 1rem;
        @media #{$breakpoint-sm} {
            top: 70%;  
            padding: 0 2rem;
        }
        @media #{$breakpoint-md} {
            position: static;
            transform: none;
            margin: 12% auto 0;
            padding: 0;
            width: 40rem;
        }
        @media #{$breakpoint-xl} {
            width: 48rem;
            margin-top: 10%;
        }
        @media #{$breakpoint-xxl} {
            width: 48rem;
            margin-top: 6%;
        }
        @media #{$breakpoint-xxxl} {
            width: 48rem;
            margin-top: -5%;
        }
        .btn {
            @media #{$breakpoint-md} {
                margin-top: 1rem;
            }
        }
    }
}

.section-filter {
    .cS-hidden {
        height: 1px;
        opacity: 0;
        filter: alpha(opacity=0);
        overflow: hidden;
    }
    ul.lightSlider {     
        height: 3rem !important; 
        li {
            text-align: center;       
            a {
                padding: 0 1rem .5rem;
                text-decoration: none;
                width: 10rem;
                position: relative;
                &.active {
                    border-bottom: 3px solid $slate-grey;                                       
                }
            }
        }
    }
    .lSAction {
        .lSPrev,
        .lSNext {
            top: 13px;
            opacity: 1;
        }
        .lSPrev {
            background: $white url(../images/chevron-left.svg) no-repeat 0 0;
            background-size: cover;
            left: 0;
        }
        .lSNext {
            background: $white url(../images/chevron-right.svg) no-repeat 0 0;
            background-size: cover;
            right: 0;
        }
    }

    .filter-control {
        position: absolute;
        right: 0;
        top: 1.5rem;
    }
}

.section-shots {
    ul.grid-item-holder {
        display: grid;
        list-style: none;
        grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
        grid-gap: 2rem;              
        @media #{$breakpoint-sm} {
            grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
        }
        @media #{$breakpoint-lg} {
            grid-template-columns: repeat(auto-fill, minmax(25%, 1fr)); 
        }
        @media #{$breakpoint-xxl} {
            grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); 
        }
        @media #{$breakpoint-xxxl} {
            grid-template-columns: repeat(auto-fill, minmax(15%, 1fr)); 
        }
        li {                        
            figure {
                background-color: $pale-grey;
                position: relative;
                overflow: hidden;
                height: auto;
                margin: 0;                
                cursor: pointer;
                border-radius: .3rem;
                img {
                    width: 100%;
                    object-fit: cover;
                }
                &:after {
                    transition: all .4s ease;  
                    content: '';
                    position: absolute; 
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 40%;
                    border-radius: .3rem;
                    background: rgb(255,255,255);
                    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(34,34,34,.8) 80%);
                    opacity: 0;
                }
                figcaption {
                    position: absolute;
                    left: 1.5rem;
                    bottom: 0;
                    visibility: hidden;
                    opacity: 0;
                    color: $white;
                    z-index: 100;    
                    transform: translateY(-1rem);
                    transition: all .4s ease;                
                    h3 {
                        color: $white;
                        padding-right: 2rem;
                    }
                }
                &:hover {
                    figcaption {
                        visibility: visible;
                        opacity: 1;
                        transform: translateY(-1.5rem);
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
            ol {                
                flex-wrap: wrap;
                padding: 0;
                li {
                    &:first-child {
                        flex: 0 0 60%;
                    }
                    &:last-child {
                        flex: 0 0 40%;
                        justify-content: flex-end;
                        padding-left: 1rem;
                    }
                    &.user-details {
                        align-items: center;
                        a {
                            text-decoration: none;
                            @extend .font-medium; 
                            font-size: 0.9rem; 
                            img {
                                width: 1.2rem;
                                border-radius: 50%;
                                margin-right: .2rem;
                            }
                        }                        
                    }
                    &.micro-data {
                        align-items: center;
                        font-size: 0.8rem; 
                        column-gap: .8rem;                        
                        a {
                            padding-right: 1rem;
                            .bi {
                                position: absolute;
                                &.bi-heart-fill {
                                    display: none;
                                }
                                &.bi-heart-fill { 
                                    color: $radical-red;
                                }
                            }                            
                            &:hover {
                                .bi {
                                    &.bi-heart {
                                        display: none;
                                    }
                                    &.bi-heart-fill { 
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } 
    }
}

.prompt-continue {
    background-color: $pale-grey;
    padding: 1rem 2rem;
    border-radius: .3rem;
    text-align: center;
    margin: 2rem auto 3rem;
    @media #{$breakpoint-md} {
        width: auto;
        border-radius: 3rem;
        margin: 3rem auto 5rem;
    }
    ul {
        align-items: center;
        justify-content: center;
        column-gap: 2rem;
        display: block !important;
        @media #{$breakpoint-md} {
            display: flex !important;
        }
        li {
            &:first-child {
                padding-bottom: 1rem;
                @media #{$breakpoint-md} {
                    padding-bottom: 0;
                }
            }
        }
    }
}