.font-light {
  font-weight: 300;
  font-style: normal;
}

.font-regular, html,
body, a, p {
  font-weight: 400;
  font-style: normal;
}

.font-medium, .section-shots ul.grid-item-holder li ol li.user-details a {
  font-weight: 500;
  font-style: normal;
}

.font-semibold, h2, h3 {
  font-weight: 600;
  font-style: normal;
}

.font-bold, h1 {
  font-weight: 700;
  font-style: normal;
}

/* Common styles declaration:
 * Global  */
html,
body {
  font-family: "Poppins", sans-serif;
  color: #222222;
}

html.custom-modal-open,
body.custom-modal-open {
  overflow: hidden;
  padding-right: 17px;
}

html.custom-modal-open .fixed-top,
body.custom-modal-open .fixed-top {
  margin-left: -17px;
}

html.custom-modal-open .navbar-brand,
body.custom-modal-open .navbar-brand {
  margin-left: 17px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

section,
footer {
  position: relative;
  padding: 1.5rem 0;
}

.hide-in-mob {
  display: none;
}

@media only screen and (min-width: 992px) {
  .hide-in-mob {
    display: block;
  }
}

.show-in-mob {
  display: block;
}

@media only screen and (min-width: 992px) {
  .show-in-mob {
    display: none;
  }
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

video {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
button,
input,
textarea,
select {
  font-family: "Poppins", sans-serif;
  color: #222222;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  line-height: 4.2rem;
  padding-bottom: 1rem;
}

h1 span {
  color: #FF385C;
}

h2 {
  font-size: 2rem;
  line-height: 2.6rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding-bottom: 0;
}

a {
  font-family: "Poppins", sans-serif;
  color: #222222;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  color: #222222;
  padding-bottom: .5rem;
}

.btn {
  padding: .4rem 1.5rem;
  cursor: pointer;
  border-radius: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1rem;
}

.btn.lg {
  padding: .8rem 2.5rem;
}

.btn.btn-primary {
  background-color: #FF385C;
  border-color: #FF385C;
}

.btn.btn-primary:hover {
  background-color: #FF113C;
  border-color: #FF113C;
}

.btn.btn-secondary {
  background-color: #ffffff;
  border-color: #222222;
  color: #222222;
}

.btn.btn-secondary.white {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.bi.sm {
  font-size: 1.2rem;
}

.bi.md {
  font-size: 1.4rem;
}

.bi.xl {
  font-size: 1.6rem;
}

.navbar {
  color: #ffffff;
}

.navbar a {
  color: #ffffff;
}

.navbar a:hover {
  color: #F7F7F7;
}

.section-banner {
  background: url(../images/hero-bg.jpg) no-repeat center bottom;
  background-size: cover;
  min-height: 40rem;
}

.section-banner aside {
  width: 50%;
  margin: 0 auto;
}

.section-shots ul.grid-item-holder {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (minmax(auto, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  grid-gap: 2rem;
}

@media only screen and (min-width: 576px) {
  .section-shots ul.grid-item-holder {
    -ms-grid-columns: (minmax(32%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
  }
}

@media only screen and (min-width: 992px) {
  .section-shots ul.grid-item-holder {
    -ms-grid-columns: (minmax(25%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
}

@media only screen and (min-width: 1400px) {
  .section-shots ul.grid-item-holder {
    -ms-grid-columns: (minmax(20%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }
}

@media only screen and (min-width: 1920px) {
  .section-shots ul.grid-item-holder {
    -ms-grid-columns: (minmax(15%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  }
}

.section-shots ul.grid-item-holder li figure {
  background-color: #F7F7F7;
  position: relative;
  overflow: hidden;
  height: auto;
  margin: 0;
  cursor: pointer;
  border-radius: .3rem;
}

.section-shots ul.grid-item-holder li figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-shots ul.grid-item-holder li figure:after {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  border-radius: .3rem;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(80%, rgba(34, 34, 34, 0.8)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(34, 34, 34, 0.8) 80%);
  opacity: 0;
}

.section-shots ul.grid-item-holder li figure figcaption {
  position: absolute;
  left: 1.5rem;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  color: #ffffff;
  z-index: 100;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.section-shots ul.grid-item-holder li figure figcaption h3 {
  color: #ffffff;
  padding-right: 1rem;
}

.section-shots ul.grid-item-holder li figure:hover figcaption {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.section-shots ul.grid-item-holder li figure:hover:after {
  opacity: 1;
}

.section-shots ul.grid-item-holder li ol {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.section-shots ul.grid-item-holder li ol li:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.section-shots ul.grid-item-holder li ol li:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 1rem;
}

.section-shots ul.grid-item-holder li ol li.user-details {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-shots ul.grid-item-holder li ol li.user-details a {
  text-decoration: none;
  font-size: 0.9rem;
}

.section-shots ul.grid-item-holder li ol li.user-details a img {
  width: 1.2rem;
  border-radius: 50%;
  margin-right: .2rem;
}

.section-shots ul.grid-item-holder li ol li.micro-data {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  -webkit-column-gap: .8rem;
          column-gap: .8rem;
}

.section-shots ul.grid-item-holder li ol li.micro-data a {
  padding-right: 1rem;
}

.section-shots ul.grid-item-holder li ol li.micro-data a .bi {
  position: absolute;
}

.section-shots ul.grid-item-holder li ol li.micro-data a .bi.bi-heart-fill {
  display: none;
}

.section-shots ul.grid-item-holder li ol li.micro-data a .bi.bi-heart-fill {
  color: #FF385C;
}

.section-shots ul.grid-item-holder li ol li.micro-data a:hover .bi.bi-heart {
  display: none;
}

.section-shots ul.grid-item-holder li ol li.micro-data a:hover .bi.bi-heart-fill {
  display: block;
}

.prompt-continue {
  background-color: #F7F7F7;
  padding: 1rem 2rem;
  border-radius: 3rem;
  text-align: center;
  margin: 4rem auto;
  width: 55%;
}

.prompt-continue ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}
/*# sourceMappingURL=theme.css.map */